# @source: https://github.com/dacb/codebase_conda/blob/master/.coveragerc
[report]
omit =  
    */python?.?/*
    */site-packages/nose/*
    *__init__*
exclude_lines =
    if __name__ == .__main__.:
    raise Exception("Illegal input test failed!")
